.form-width {max-width: 25rem;}
.has-float-label {
    position: relative; }
table {
    border-spacing: 7px 11px;
    padding: 10px;
}
tr {
    padding: 10px;
}
td {
    padding: 10px;
}
.has-float-label label {
    position: absolute;
    left: 0;
    top: 0;
    cursor: text;
    font-size: 75%;
    opacity: 1;
    -webkit-transition: all .2s;
    transition: all .2s;
    top: -.5em;
    left: 0.75rem;
    z-index: 3;
    line-height: 1;
    padding: 0 1px; }
.has-float-label label::after {
    content: " ";
    display: block;
    position: absolute;
    background: white;
    height: 2px;
    top: 50%;
    left: -.2em;
    right: -.2em;
    z-index: -1; }
.has-float-label .form-control::-webkit-input-placeholder {
    opacity: 1;
    -webkit-transition: all .2s;
    transition: all .2s; }
.has-float-label .form-control:placeholder-shown:not(:focus)::-webkit-input-placeholder {
    opacity: 0; }
.has-float-label .form-control:placeholder-shown:not(:focus) + label {
    font-size: 150%;
    opacity: .5;
    top: .3em; }

.input-group .has-float-label {
    display: table-cell; }
.input-group .has-float-label .form-control {
    border-radius: 0.25rem; }
.input-group .has-float-label:not(:last-child) .form-control {
    border-bottom-right-radius: 0;
    border-top-right-radius: 0; }
.input-group .has-float-label:not(:first-child) .form-control {
    border-bottom-left-radius: 0;
    border-top-left-radius: 0;
    margin-left: -1px; }
.our-team{
    background: #f5f5f5;
    text-align: center;
    padding-bottom: 10px;
}
.our-team .pic{
    position: relative;
    overflow: hidden;
}
.our-team .pic:after{
    content: "";
    width: 200px;
    height: 200px;
    border-radius: 50%;
    background-color: rgba(0, 0, 0, 0.5);
    box-shadow: 0 0 0 900px rgba(255, 255, 255, 0.5);
    position: absolute;
    bottom: -100px;
    right: -100px;
    opacity: 0;
}

.our-team .pic img{
    width: 100%;
    height: auto;
}

#description {
    height: 200px;
}
.our-team .team-content{
    padding: 20px 0;
}
.our-team .title{
    font-style: italic;
    font-size: 20px;
    font-weight: 700;
    color: blueviolet;
    margin: 0 0 8px 0;
}
.our-team .post{
    font-size: 13px;
    font-weight: 500;
    color: #6e6e70;
    text-transform: capitalize;
}
@media only screen and (max-width: 990px){
    .our-team{ margin-bottom: 30px; }
}
